<div class="footer">
    <div class="marque">
        <p class="execaution">
            execaution <i class="fas fa-mouse-pointer"></i>
        </p>
    </div>

    <div class="colonne1">
        <p class="titlecolumn"><i class="fas fa-list-ul"></i> services</p>
        <ul class="listitem1">
            <li class="item-footer">Dedicated</li>
            <li class="item-footer">Cloud</li>
            <li class="item-footer">Web</li>
            <li class="item-footer">VPS</li>
        </ul>


    </div>



    <div class="colonne1">
        <p class="titlecolumn">social <i class="fas fa-share-square"></i></p>
        <ul class="listitem2">
            <li class="item-footer"><i class="fab fa-discord"></i> Discord</li>
            <li class="item-footer"><i class="fab fa-facebook-square"></i> Facebook</li>
            <li class="item-footer"><i class="fab fa-twitter"></i> Twitter</li>
            <li class="item-footer"><i class="fab fa-instagram"></i> Instagram</li>
        </ul>


    </div>

    <div class="colonne1">
        <p class="titlecolumn">support <i class="far fa-question-circle"></i></p>
        <ul class="listitem2">
            <li class="item-footer"><i class="fas fa-paper-plane"></i> Accéder au support</li>
            <li class="item-footer">Nous apeller</li>
            <li class="item-footer"><i class="fas fa-book"></i> Documentation</li>
            <li class="item-footer"><i class="fas fa-phone"></i>04.00.00.00.00</li>


        </ul>


    </div>
    <div class="foot">
        <p class="footertext">&copy; 2021 tout droits réservés execaution fait par Cedric avec <i
                class="fas fa-heart"></i></p>


    </div>
</div>