<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="navbar">
        <div class="navitem"><a href="#"><i class="down fas fa-chevron-down fa-xs"></i>
                        dédié
                        <i class="serve fas fa-server fa-xs"></i></a>

                <div class="dedicatedservices">




                        <div class="dedicatedserv">
                                <div class="rightdedicated">
                                        <h1 class="titlenavsection">SERVEURS
                                        </h1>
                                        <ul class="linktreededicated">
                                                <li>SERVEUR L</li>
                                                <li>SERVEUR XL</li>
                                                <li>SERVEUR GAME</li>

                                        </ul>

                                </div>
                                <div class="leftdedicated">
                                        <h1 class="titlenavsectionspec">SPECS</h1>

                                        <ul class="specstreededicated">
                                                <li>PROCESSEUR:</li>
                                                <p class="infoservice">Intel Xeon Silver 4114 (2.2 GHz / 3.0 GHz)</p>
                                                <li>RAM:</li>
                                                <p class="infoservice">32GB</p>
                                                <li>BANDE PASSANTE:</li>
                                                <p class="infoservice">1GBP/S</p>


                                        </ul>
                                </div>

                        </div>
                </div>

        </div>
        <div class="navitem"><a href="#"><i class="down fas fa-chevron-down fa-xs"></i>cloud<i
                                class="serve fas fa-cloud fa-xs"></i></a>

                <div class="cloudservices">

                        <div class="cloudserv">
                                <div class="rightcloud">
                                        <h1 class="titlenavsection">SERVEURS</h1>
                                        <ul class="linktreecloud">
                                                <li>SERVEUR L</li>
                                                <li>SERVEUR XL</li>
                                                <li>SERVEUR GAME</li>

                                        </ul>

                                </div>
                                <div class="leftcloud">
                                        <h1 class="titlenavsectionspec">SPECS</h1>

                                        <ul class="specstreecloud">
                                                <li>PROCESSEUR:</li>
                                                <p class="infoservice">Intel Xeon Silver 4114 (2.2 GHz / 3.0 GHz)</p>
                                                <li>RAM:</li>
                                                <p class="infoservice">32GB</p>
                                                <li>BANDE PASSANTE:</li>
                                                <p class="infoservice">1GBP/S</p>


                                        </ul>
                                </div>

                        </div>
                </div>

        </div>




        <div class="navitem"><a href="#"><i class="down fas fa-chevron-down fa-xs"></i>web<i
                                class="serve fas fa-network-wired fa-xs"></i></a>



                <div class="webservices">

                        <div class="webserv">
                                <div class="rightweb">
                                        <h1 class="titlenavsection">SERVEURS</h1>
                                        <ul class="linktreeweb">
                                                <li>SERVEUR L</li>
                                                <li>SERVEUR XL</li>
                                                <li>SERVEUR GAME</li>

                                        </ul>

                                </div>
                                <div class="leftweb">
                                        <h1 class="titlenavsectionspec">SPECS</h1>

                                        <ul class="specstreeweb">
                                                <li>PROCESSEUR:</li>
                                                <p class="infoservice">Intel Xeon Silver 4114 (2.2 GHz / 3.0 GHz)</p>
                                                <li>RAM:</li>
                                                <p class="infoservice">32GB</p>
                                                <li>BANDE PASSANTE:</li>
                                                <p class="infoservice">1GBP/S</p>


                                        </ul>
                                </div>

                        </div>
                </div>


        </div>


</div>