<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Khand:wght@300&family=Orbitron&family=Raleway&family=Rajdhani:wght@500&display=swap"
        rel="stylesheet">
    <title>Execaution</title>
</head>

<body>

    <div class="wrapper">

        <div class="precontent">
            <div class="title">
                <h1 class="apptitle">execaution <i class="fas fa-mouse-pointer"></i></h1>
            </div>
            <div class="menu">
                <app-navbar></app-navbar>

            </div>
        </div>

        <div class="homepage">



            <div class="pretexts">
                <h2 class="dedicatedtext"><img class="icondata" src="/assets/img/icons/data.png"> Dedicated Hosting</h2>
                <p class="descriptif">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur iure vel ipsa
                    facere, nostrum non sequi, ipsam enim iusto magni iste veritatis dolorem adipisci consequatur
                    aliquid provident ea! Quas, fuga?</p>
                <button class="configure">Commander</button>

            </div>
            <div class="preoffers">
                <h2 class="bestsellerstext">Best Seller</h2>
                <div class="offerdesc">


                </div>
            </div>


        </div>

        <div class="limitededition">
            <div class="limitedfirst">
                <h3 class="limitedtitlefirst">Dedicated M</h3>

                <h4 class="dcpu">CPU</h4>
                <p>1 vcore</p>
                <h4>RAM</h4>
                <p>4GB</p>
                <h4>SSD</h4>
                <p>50GB</p>

            </div>
            <div class="limitedsecond">
                <h3 class="limitedtitlesecond">Dedicated L</h3>

                <p class="infosecond">BEST SELLER</p>

                <div class="dcomposant">
                    <h4 class="dcpu">CPU</h4>
                    <p>2 vcore</p>
                    <h4>RAM</h4>
                    <p>8GB</p>
                    <h4>SSD</h4>
                    <p>100GB</p>
                </div>

            </div>

            <div class="limitedthree">
                <h3 class="limitedtitlethree">Dedicated XL</h3>

                <h4 class="dcpu">CPU</h4>
                <p>4 vcore</p>
                <h4>RAM</h4>
                <p>16GB</p>
                <h4>SSD</h4>
                <p>200GB</p>
            </div>



        </div>


        <div class="comcontent">
            <div class="about">
                <h3 class="apptitle">about us&nbsp; <i class="fas fa-mouse-pointer"></i></h3>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit doloribus fugiat, consequuntur
                    molestias, est possimus ipsam ut dicta vel, mollitia facilis aliquid? Inventore rerum autem dolores,
                    minus distinctio recusandae praesentium?</p>
            </div>

        </div>

        <app-footer></app-footer>


    </div>
</body>

</html>